{% extends "base.html" %}
{% load staticfiles %}

{% block contents %}
<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Colaboradores</span>
      <span class="badge badge-secondary badge-pill">{{collaborators|length}}</span>
    </h4>
    {% if request.user.signuser.address ==  document.minter.address %}
      <form class="card p-2" action="" method="post">
        {% csrf_token %}
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Email" name="collaborator_email" required>
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Enviar</button>
          </div>
        </div>
      </form>
    {% endif %}
    <ul class="list-group mb-3 lista_colaboradores">
      {% for collaborator in collaborators %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{collaborator.collaborator.user.email}}</h6>
            <small class="text-muted"></small>
          </div>
          <span class="text-muted"><i class="fas fa-spinner"></i></span>
        </li>
      {% endfor %}
    </ul>

  </div>
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">
      Detalle del documento
      {% if is_collaborator %}
        <a role="button" class="btn btn_validar btn-sm ml-2" data-toggle="modal" data-target="#ValidateModal">VALIDAR</a>
        <a role="button" class="btn depositar btn-sm ml-2" data-toggle="modal" data-target="#SuggestModal">SUGERENCIA</a>
      {% endif %}
    </h4>
    <div class="row">
      <div class="col-8 mb-3">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name"  value="{{document.name}}" readonly>
      </div>
      <div class="col-4 mb-3">
        <label>Descargar</label>
        <div id="box_download">
          <a class="text-center" id="download" href="{{document.document.url}}" target="_blank">Pincha aqui <i class="fas fa-file-download"></i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="owner">Dueño</label>
        <input type="text" class="form-control" id="owner" value="{{document.minter.user.first_name}} {{document.minter.user.last_name}}" readonly>
      </div>
      <div class="col-6 mb-3">
        <label for="email">Email de contacto</label>
        <input type="text" class="form-control" id="email" value="{{document.minter.user.email}}" readonly>
      </div>
    </div>

    <div class="mb-3">
      <label for="hash">Hash</label>
      <input type="text" class="form-control" id="hash" value="{{document.hash}}" readonly>
    </div>

    <div class="mb-3">
      <label for="tx_id">Tx</label>
      <input type="text" class="form-control" id="yx_id" value="{{document.tx_id}}" readonly>
    </div>

    <div class="mb-3">
      <label for="status">Estado en la blockchain</label>
      <input type="text" class="form-control" id="status" value="{{document.status.name}}" readonly>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <h3 class="">Sugerencias</h3>
    {% if comments %}
      <div id="sugerencias">
        {% for comment in  comments %}
          <div class="text-left">
            <div class="row">
              <div class="col-1 mt-2">
                <img src="{{comment.collaborator.user.signuser.avatar.url}}" class="img-responsive avatares" alt="">
              </div>
              <div class="col-11 mt-2">
                <div class="sugerencia">
                  <strong>{{comment.collaborator.user.first_name}} {{comment.collaborator.user.last_name}}:</strong>
                  <br>
                  <span>{{comment.comment}}</span>
                </div>
                <span class="extra_data">{{ comment.timestamp|date:"d/m/Y H:i:s" }} <a href="https://rinkeby.etherscan.io/tx/{{comment.tx_id}}" target="_blank"><i class="fas fa-external-link-alt"></i></a></span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No hay sugerencias para este documento</p>
    {% endif %}
  </div>
  <div class="col-12">
    <a href="#" class="info_detail" onclick="window.history.back()"><i class="fas fa-undo"></i></a>
  </div>
</div>

<!-- Modal Validar -->
<div class="modal fade" id="ValidateModal" tabindex="-1" role="dialog" aria-labelledby="ValidateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ValidateModalLabel">Validar documento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <div class="row justify-content-center text-center mb-2">
          <div class="col-10">
            <p>¿Estás seguro de que desea validar este documento?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn depositar" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn_validar" id="final_validar_button">Validar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Sugerencia -->
<div class="modal fade" id="SuggestModal" tabindex="-1" role="dialog" aria-labelledby="SuggestModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SuggestModalLabel">Añadir sugerencia al documento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <div class="row justify-content-center text-center mb-2">
          <div class="col">
            <p>Escribe la sugerencia que quieres dar a este documento: </p>
            <textarea name="comment" id="comment_document" rows="8" cols="35" placeholder="Introduzca aqui su sugerencia"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn depositar" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn_validar" id="final_comment_button" disabled>Enviar</button>
      </div>
    </div>
  </div>
</div>
<form method="POST" id="add_comment_form" action="{% url 'add_comment' %} ">
  {% csrf_token %}
  <input type="hidden" name="hash" value="{{document.hash}}">
</form>
<script>
  $('#comment_document').bind('input', function(event) {
    if($('#comment_document').val()) {
      $('#final_comment_button').prop('disabled', false);
    }else{
      $('#final_comment_button').prop('disabled', true);
    }
  });

  function add_input_comment(val) {
    $("#add_comment_form").append('<input type="hidden" name="comment_back" value="' + val +  '">');
  }

  $('#final_comment_button').click(function(event) {
    var comment_val = $('#comment_document').val();
    add_input_comment(comment_val)
    $("#add_comment_form").submit();
  });

  $('#final_validar_button').click(function(event) {
    add_input_comment("Validated")
    $("#add_comment_form").submit();
  });

</script>
{% endblock %}
