{% extends "base.html" %}
{% load staticfiles %}
{% load blocksign_tags %}

{% block contents %}
<div class="tab">
  <button class="tablinks active" onclick="openCity(event, 'mis_documentos')">Mis Documentos</button>
  <button class="tablinks" onclick="openCity(event, 'colaboraciones')">Colaboraciones</button>
</div>
<div id="mis_documentos" class="tabcontent">
  <table class="table text-lefts"  id="table">
  <thead class="thead">
    <tr>
      <th class="text-center">NOMBRE</th>
      <th class="text-center">DUEÑO</th>
      <th class="text-center">FECHA</th>
      <th class="text-center no-sort">ESTADO</th>
      <th class="text-center no-sort">DETALLES</th>
    </tr>
  </thead>
  <tbody>
  {% for d in documents %}
    <tr >
      <td class="text-center">{{ d.name }}</td>
      <td class="break-word text-center" title="{{ d.minter.user.email }}">
        {{ d.minter.user.first_name }} {{ d.minter.user.last_name }}
      </td>

      <td class="text-uppercase text-center" data-order="{{ d.timestamp|get_timestamp }}">{{ d.timestamp|date:"d/m/Y H:i:s" }}</td>
      <td class="text-center">
        <i style="color:blue;font-size:12px;"class="fas fa-circle" title="Registrado en la blockchain"></i>
      </td>
      <td class="text-center">
        <a class="info_detail" href="{% url 'doc_details' d.hash %}">
          <i class="fas fa-angle-double-right"></i>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<div id="colaboraciones" class="tabcontent">
  <h1>COLABORACIONES</h1>
</dib>
<script>
$(document).ready(function() {
  $('#table').DataTable({
    "order": [],
      "columnDefs": [{
        "targets": 'no-sort',
        "orderable": false
      }],
      "bPaginate": true,
      "bFilter": false,
      "bInfo": false,
      "order": [[ 2, "desc" ]],
      "dom": '<"top"i>rt<"row"<"col-6 length_input"l><"col-6 text-left"p>><"clear">',
      "columns": [
      { "type": "html" },
      { "type": "html" },
      { "type": "html" },
      { "type": "html" },
      { "type": "html" }
    ],
      responsive: true,
      language: {
          url: '/static/localisation/es.json'
      }
  });
  $("#mis_documentos").show()
});

function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  tabcontent = document.getElementsByClassName("tabcontent");
  console.log(tabcontent);
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  $("#"+cityName).show();
  evt.currentTarget.className += " active";
}

</script>
{% endblock %}
