<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blockchain validator</title>
  </head>
  <body>
    <p>Estimado/a, </p>
    <p>Has sido invitado por {{ admin.first_name}} {{ admin.last_name }} a colaborar en unos de sus docuementos.
      Para formalizar su invitación, por favor acceda al siguiente enlace para realizar el proceso de registro:
    <p>
    <a href="http://localhost:8000/register_user/{{invitation.secret}}">http://localhost:8000/register_user/{{invitation.secret}}</a>
    <p>Reciba un cordial saludo,</p>
    <p>Equipo de Blockchain validator.</p>
  </body>
</html>
