<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blockchain validator</title>
  </head>
  <body>
    <p>Estimado/a, </p>
    <p>Has sido invitado por {{ owner.first_name}} {{ owner.last_name }} a colaborar en unos de sus docuementos.
      Para formalizar su invitación, por favor acceda al siguiente enlace:
    <p>
    <a href="http://localhost:8000/invitation_email/{{token}}/{{user_id}}">http://localhost:8000/invitation_email/{{token}}/{{user_id}}</a>
    <p>Reciba un cordial saludo,</p>
    <p>Equipo de Blockchain validator.</p>
  </body>
</html>
