html {
   width: 100%;
   height: 100%;
}

body {
   width: 100%;
   min-height: 100%;
}

.left_side {
    height:100vh;
    width: 47%;
    float: left;
    background-color: #E7DED4;

}

.right_side_1 {
    height:20vh;
    width: 53%;
    float: right;
    background-color: white;

}
.right_side_2 {
    height:80vh;
    width: 50%;
    float: right;
    background-color: white;

}

.login_inputs{
  width: 200px!important;
  border: 1px solid #868e86;
}

.btn_login{
  background-color: white;
  color: #922518;
  border: 1px solid #922518;
}

.btn_login:hover{
  background-color: #922518;
  color: white;
  border: 1px solid white;
}

.btn_register{
  background-color: #922518;
  color: white;
  border: 1px solid white;
}

.register_inputs{
  width: 80%;
}

.alert{
  margin-bottom: 0px!important;
}
